{%  extends '::base.html.twig' %}

{% block body %}
	<h2>Liste des nodes</h2>
	
	{%  for node in nodes %}
		<p>{% include 'HBProxMoxBundle:Node:details.html.twig' with node %}</p>
	{%  else %}
		<p>Aucune node à afficher.</p>
	{% endfor %}
{% endblock %}
